* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: $standard-tr;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  &:focus {
    outline: 0;
  }
}
