.links-wrapper {
  margin: 40px 0 10px;
  
  @include mq($tablet) {
    margin: 80px 0 24px;
  }
}

.links {
  @include flex-justify;
  flex-wrap: wrap;
  
  &__single {
    @include flex-align;
    width: 340px;
    margin-bottom: 30px;

    @include mq($tablet) {
      margin-bottom: 56px;
    }
  }
  
  &__svg {
    width: 78px;
    height: 78px;
    @include flex-align;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  p {
    margin-top: 5px;
    color: $color-text;
  }
}