.u-h1 {
  font-size: 40px;
  font-weight: 600;
  
  @include mq($tablet) {
    font-size: 50px;
  }
  
  @include mq($laptop) {
    font-size: 70px;
  }
}

.u-btn {
  border: 0;
  border-radius: 50px;
}

.u-stop-scroll {
  overflow: hidden;
}