// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #050835;
$color-text: #8b8b8e;

$color-title: #2d2e33;
$color-border: #cbccce;
$color-bckg: #eaeff5;
$color-bckg-secondary: #7bc5f4;

$color-1: #0c7ee9;
$color-2: #ebaa3f;
$color-3: #050835;
$color-4: #56bdfd;
$color-5: #f68523;
$color-6: #cd61ed;
$color-7: #3100fd;
$color-8: #873efd;

// Breakpoints
$phone: 576px;
$tablet: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;
$laptop-large: 1400px;
$desktop: 1600px;

// Fonts
$font-primary: 'Urbanist';

//Transition
$standard-tr: all .3s ease;
