// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #050835;
$color-secondary: #ff6200;
$color-tertiary: #55bc92;

$color-link: #2d2e33;
$color-border: #cbccce;

// Breakpoints
$phone: 576px;
$tablet: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;
$laptop-large: 1400px;
$desktop: 1600px;

// Fonts
$font-primary: 'Urbanist';

//Transition
$standard-tr: all .3s ease;
